.mcq-board .board-action {
    display: block;
    overflow: auto;
}

.mcq-board .category {
    margin-top: 10px;
}

.mcq-board .chapter {
    margin-top: 10px;
}

.mcq-board .box-title {
    font-weight: 700;
}

.mcq-board .question .question-content .question-title {
    margin-left: -15px;
    font-size: 24px;
}

.mcq-board .question {
    margin-top: 10px;
}

.mcq-board .question .question-body {
    margin-top: 10px;
}

.mcq-board .question .question-footer {
    margin-top: 10px;
}

.mcq-board .option {
    margin-top: 20px;
}

.mcq-board .option .option-set .option-set-title {
    font-size: 24px;
    margin-left: -15px;
}

.mcq-board .option .option-set .option-body .option-body-header .option-body-title {
    font-size: 24px;
}

.mcq-board .option .option-set .option-body {
    margin-top: 10px;
}

.mcq-board .answer-selection .title {
    margin-left: -15px;
    font-size: 24px;
}

.mcq-board .marks-content .title {
    margin-left: -15px;
    font-size: 24px;
}