.btn-filter {
    background-color: rgba(0, 166, 90, 0.8) !important;
    color: white;
}

.question-container-box {
    border: none;
    box-shadow: 0 10px 6px -6px #777;
}

.is-correct-option {
    color: lightgreen;
    font-weight: 100;
    font-size: 12px;
    margin-left: -17px;
    margin-right: 5px;
}

.question-container-box .breadcrumb {
    list-style: none;
    overflow: hidden;
    display: inline;
    background-color: none;
}

.question-container-box .breadcrumb li {
    float: left;
    /*color: white;
    background: rgba(0, 166, 90, 0.8);*/
}

.question-container-box .breadcrumb>li+li:before {
    content: "\3E"
}


/*.breadcrumb li a {
    
    text-decoration: none;
    padding: 10px 0 10px 65px;
    
    position: relative;
    display: block;
    float: left;
}



.breadcrumb li a::before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid white;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}*/